.products-top {
  padding-left: 1%;
  padding-right: 2%;
}

.breadcrumbs {
  margin-top: 1%;
}

.breadcrumbs span {
  font-size: 13px;
  color: #707070;
}

.breadcrumbs-link {
  cursor: pointer;
  font-size: 13px;
  color: #707070;
}

.breadcrumbs-link:hover {
  font-weight: bold;
  color: inherit;
}

.featured-list {
  margin-top: 2%;
}

.featured-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 336px;
  max-width: 336px;
  height: 180px;
  border: 1px solid #aaa;
  padding: 1%;
  border-radius: 10px;
  margin-right: 20px;
  flex: 1 0 30%;
  cursor: pointer;
}

.featured-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#product-img {
  width: 80px;
  height: 124px;
  margin-top: 15px;
}

#featured-name {
  font-weight: bold;
}

#featured-time {
  font-size: 14px;
}

.featured-box-left {
  display: flex;
  flex-direction: column;
}

.featured-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-list {
  display: flex;
  justify-content: start;
  margin-bottom: 5%;
  flex-wrap: wrap;
  margin-top: 3%;
}

.item-box {
  padding: 10px;
  width: 236px;
  min-width: 236px;
  max-width: 236px;
  height: 280px;
  border: 1px solid #aaa;
  flex: 1 0 30%;
  margin-top: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.item-box:hover,
.featured-box:hover {
  transform: translateY(-3px);
  box-shadow: 1px 2px 2px 0px #aaa;
}

.item-box-top {
  display: flex;
  justify-content: space-between;
}

.list-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#list-img {
  width: 100px;
  height: 144px;
  margin-top: 20%;
}

/* Pagination */

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 50px;
  width: 20%;
  border-radius: 10px;
  background: #707070;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.16);
  margin-bottom: 5%;
  color: white;
}

.pagination-arrow {
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 3px;
}

.pagination-inactive-item {
  font-size: 14px;
  color: #b8b8b8;
}

.pagination-active-item {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .featured-box {
    max-width: 90% !important;
    min-width: 80% !important;
    margin-bottom: 5%;
    margin-right: 0;
    padding: 5px;
    margin-top: 5%;
  }

  .items-list,
  .featured-list {
    justify-content: center;
  }

  .item-box {
    margin-right: 0;
  }
}
