.productdetail-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.productdetail-top {
  padding-left: 1%;
}

.breadcrumbs {
  margin-top: 1%;
}

.breadcrumbs span {
  font-size: 13px;
  color: #707070;
}

.breadcrumbs-link {
  cursor: pointer;
  font-size: 13px;
  color: #707070;
}

.breadcrumbs-link:hover {
  font-weight: bold;
  color: inherit;
}

.productdetail {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-top: 5%;
}

.productdetail-images {
  display: flex;
  justify-content: center;
  background-color: #dae3eb;
  border-radius: 30px;
  align-items: center;
  width: 500px;
  height: 400px;
}

.productdetail-images img {
  height: 70%;
}

.productdetail-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2%;
  max-width: 570px;
  color: #464545;
}

.stars-wrapper {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.stars {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.review-text {
  font-size: 14px;
}

.productdetail-wrapper p {
  font-size: 14px;
  margin-top: 2%;
}

#warranty-text {
  font-size: 13px;
  color: #707070;
}

.productdetail-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.productdetail-tab {
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}

.productdetail-tab-active {
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 5px;
}

.productdetail-wrapper .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: #707070;
  color: white;
  border-radius: 10px;
}

/* Bidding Tab */

.biddingtab-wrapper {
  margin-top: 5%;
  border-radius: 20px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
  padding: 40px;
  width: 100%;
}

/* Review Tab */

.reviewtab-review {
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
  width: 100%;
}

.reviewtab-name {
  font-weight: bold;
}

.review-time {
  font-size: 14px;
}

.reviewtab-review-content {
  margin-left: 10px;
}

.reviewtab-review-content p {
  text-align: justify;
  text-justify: inter-word;
}

.reviewtab-stars-wrapper {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin-top: 7px;
}

.reviewtab-review {
  flex-direction: column;
}

.reviewtab-img {
  margin-right: 20px;
  width: 40px;
}

.reviewtab-review-content p {
  font-size: 12px;
  margin-left: -5px;
}

.reviewtab-row-1 {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .productdetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
  }

  .breadcrumbs {
    margin-left: 2%;
  }

  .productdetail-images {
    width: 100%;
    height: 200px;
    margin-bottom: 10%;
  }

  .productdetail-content {
    flex-direction: column-reverse;
  }

  .stars {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .productdetail-description {
    text-align: justify;
  }

  .productdetail-content-right {
    margin-bottom: 5%;
  }

  .productdetail-content-right .button {
    display: flex;
    width: 150px;
  }

  .reviewtab-review {
    flex-direction: column;
  }

  .reviewtab-img {
    margin-right: 20px;
    width: 40px;
  }

  .reviewtab-review-content p {
    font-size: 12px;
    margin-left: -5px;
  }

  .reviewtab-row-1 {
    display: flex;
    align-items: center;
  }

  .productdetail-tabs {
    justify-content: space-between;
  }
}
