.page-top {
  margin-left: 1%;
  margin-right: 1%;
}

hr {
  border-top: 2px solid black;
  height: 0px;
}

.page-subtitle {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #707070;
}

.cart-container {
  margin-left: 1%;
  margin-right: 1%;
}
